* { font-size: 62.5%; box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
}
.bg_grid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    
    background-color: var(--color-primary-varient);
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-auto-rows: minmax(8vw, 10vw);
    grid-gap: 0.5rem;

    z-index: 1;
}
.container {
    width: 100vw;
    display: grid;
    color: var(--color-text);
    z-index: 2;
}

/*버튼 설정*/
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}