* { font-size: 62.5%; box-sizing: border-box; margin: 0; padding: 0;}
body {
    overflow-y: scroll;
   } 

.bg_grid {
    width: 100%;
    z-index: 1;
}
.container {
    width: 100%;
    color: var(--color-text);
    z-index: 2;
}
/**스크롤바 설정*/
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

/*버튼 설정*/
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

ul {
    list-style: none;
}