* { font-size: 62.5%; box-sizing: border-box; margin: 0; padding: 0; cursor: none;}

html {
    -webkit-text-size-adjust : none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--color-text);
}
.con_blank {
    width: 100%;
    height: 50vh;
}

/**스크롤바 설정(투명 바)*/
body::-webkit-scrollbar {
    width: 14px;  /* 스크롤바의 너비 */
    display: none;
}

/*버튼 설정*/
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(--color-text);
}
/*loading page*/
        #load {
            position: absolute;
            z-index: 9999;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            background-color: #fff;

            /* 추가된 부분 (잔상 제거 핵심) */
            opacity: 0;
            visibility: hidden;

            transition: opacity 200ms ease-out;
        }

        .loadtext {
            width: 30%;
            height: auto;
            margin: 0 auto;
            padding-bottom: 3rem;
            transition: all 300ms ease-out;
        }