.content_text_box {
    padding-top: 4.5rem;
    padding-left: 6rem;
}
    .content_text_light {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 400;
        color: var(--color-text-light);
    }
    .content_text_title {
        font-size: 2.8rem;
        line-height: 2.6rem;
        font-weight: 500;
        color: var(--color-text);
    } 