.content_all {
    width: 100%;
    height: 140vh;
    position: relative;
}
        .content_all h1 {
            position: absolute;
            top: -20vh;
            width: 100vw;
            height: 20rem;
            font-family: var(--font-english);
            font-weight: var(--font-redular);
            font-size: 3.4rem;
            text-align: center;
            line-height: 20rem;
        }
.content_text_box {
    width: auto;
    height: 100%;
    padding: 0 6rem 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
    .content_text_light {
        display: block;
        white-space: nowrap;
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 400;
        color: var(--font-gray);
    }
    .content_text_title {
        white-space: nowrap;
        font-size: 3.4rem;
        line-height: 4rem;
        font-weight: 400;
        color: var(--color-text);
    }

.content_image_box {
    background-color: bisque;
}