.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    opacity: 0;
    transition: all 1s ease-out;
}
    .footer_blank {
        width: 100%;
        height: 10rem;
    }
    .footer_mid {
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
            .footer_text {
                word-break: keep-all;
                width: 29rem;

                font-size: 3rem;
                font-weight: var(--font-bold);
            }
                    .send_mail {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: left;
                        height: 2.4rem;
                        margin-top: 0.4rem;
                    }
                            .font_16 {
                                font-size: 1.6rem;
                                font-weight: var(--font-regular);
                            }
                            .send_mail>div {display: flex; align-items: center; }
            .puzzle {
                position: relative;
                max-width: 70rem;
                max-height: 80rem;
                width: 65rem;
                height: 65rem;
            }
                .click_me {
                    position: absolute;
                    top: 50%;
                    margin-top: -25px;
                    width: 100%;
                    
                    font-family: var(--font-english);
                    font-size: 1.4rem;
                    text-align: center;
                    
                    z-index: 2;
                    opacity: 1;
                    pointer-events: none;
                }
                .puzzle img {
                    position: absolute;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            #footer-gif {
                position: absolute;
                width: 100%;
                object-fit: contain;
                display: none;
            }
    .footer_contact {
        width: 60rem;
        height: 12.6rem;
        margin: 0 auto;
        padding-left: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }            
        .font_18 {
            font-size: 1.8rem;
            line-height: 2.6rem;
        }