.header {
    width: 100%;
    height: 8rem;

    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;

    background: radial-gradient(circle,#ffffff8e,#fff);
    backdrop-filter: blur(10px);
    z-index: 3;
}

.header_logo {
    font-size: 1.8rem;
    line-height: 8rem;
}

.hamburger {
    width: 7rem;
    background: url(../images/hamburger.svg) no-repeat;
    background-position: center center;
}
