    .main_home {
        width: 100%;
        height: 100vh;
        position: relative;
        opacity: 0;
        transition: all 1s ease-out;

        padding: 0 13%;
    }
        .main_text_box {
            position: sticky;
            top: 30rem;
            z-index: 2;
            pointer-events: none;
        }

        .main_text_01 {
            font-size: 8rem;
            line-height: 9rem;
            font-weight: 700;

            display: flex;
            flex-flow: row nowrap;
        }
        .nametext {
            width: 27rem;
        }
/*
        margin: 0 13%;
        padding-top: 30rem(28%);
        padding-bottom: 51rem(47%);
        */