.main_home {
    margin: 0 13%;
    padding-top: 30rem;
    padding-bottom: 51rem;
}
    .main_text_box {
        display: flex;
        flex-flow: column wrap;
    }
        .main_text_01 {
            font-size: 8rem;
            line-height: 9rem;
            margin: 0;
            font-weight: 700;

            display: flex;
            flex-flow: row nowrap;
        }