.back_img {
    width: 100%;
    height: 100vh;
    background-image: url(../images/kartell_bg.jpg);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.image_02 {
    position: relative;
    clear: both;
    width: 100%;
}
    .image_02 video {
        width: 79.2%;
        border-radius: 1.6rem;
        border: 1px solid #000;

        position: absolute;
        bottom: 0;
        z-index: 2;
        left: 10.9%;
    }
.image_04 {
    position: relative;
    clear: both;
    width: 100%;
}
    .image_04 video {
        width: 79.2%;
        border-radius: 1.6rem;
        border: 1px solid #000;

        position: absolute;
        z-index: 2;
        top: 0;
        left: 10.9%;
    }
.image_05 {
    width: 52.3%;
    object-fit: contain;
    margin-left: 37rem;
}