.main_intro {
    padding: 0 13%;
    margin: 0 2%;
    padding-bottom: 50rem;
    display: grid;
    grid-template-areas:
    "a a"
    "b c"
    "d e";
    grid-template-columns: 22rem 26rem;
    grid-template-rows: 14rem 12rem 12rem;
}
.intro_title {
    grid-area: a;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
}
.intro_box {
    display: grid;

}
.intro_text_grey {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--font-gray);
}
.intro_text_black {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: var(--font-500);
    color: var(--font-default);
}
    .intro_text_span {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: var(--font-500);

        margin-right: 1rem;
    }

.intro_skill_text {
    display: flex;
    flex-flow: column wrap;
}