.main_intro {
    position: relative;
    clear: both;
}
        .main_intro_bg {
            grid-area: f;
            position: absolute;
            left: 0;
            top: 0;
        }
                .bg_bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
                .bg_character {
                    z-index: 3;
                }

        .main_intro_text {
            margin: 0 13%;
            padding-bottom: 50rem;
            padding-left: 8%;
            display: grid;
            grid-template-areas:
            "h h f"
            "a a f"
            "b c f"
            "d e f";
            grid-template-columns: 22rem 26rem 55rem;
            grid-template-rows: 35rem 14rem 12rem 12rem;
        }
                
        .intro_title {
            grid-area: a;
            font-size: 3rem;
            font-weight: 300;
            line-height: 4rem;
        }
        .intro_my {
            grid-area: b;
        }
        .intro_edu {
            grid-area: c;
        }
        .intro_contact {
            grid-area: d;
        }
        .intro_skill {
            grid-area: e;
        }
        .intro_box {
            display: grid;
        }
.intro_text_grey {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--font-gray);
}
.intro_text_black {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: var(--font-500);
    color: var(--font-default);
}
    .intro_text_span {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: var(--font-500);

        margin-right: 1rem;
    }

.intro_skill_text {
    display: flex;
    flex-flow: column wrap;
}