@media all and (max-width: 7680px) {
    * { font-size: 0.5vw;}
}
@media all and (max-width: 1920px) {
    * { font-size: 62.5%;}
}
@media all and (max-width: 1024px) {
    /*header*/
    html {cursor: default;}
    .hamburger {cursor: default}
    .overlay ul li a {cursor: default;}
    /*style.css*/
    .backgradient {display: none;}
    .back_gradient {display: none;}
    .hoverarea {display: none;}
    .mouse_cursor {display: none;}
    /*home.css*/
    .main_home { padding: 0 12%;}
    .main_text_box { top: 24rem;}
    /*main_intro.css*/
    .main_intro {padding: 0 10%;}
    .main_intro_bg {width: 45rem;}
    .main_intro_text {top: 40rem;}
    /*content.css*/
    .content_grid { max-height: 80rem;}
    .content_text_light { font-size: 1.6rem; line-height: 2.4rem;}
    .content_text_title { font-size: 2.4rem; line-height: 3rem;}
    /*나중에 더 손볼것*/
    /*footer*/
    .footer_mid {margin: 0;}
    .footer_text {width: 24rem; font-size: 2.4rem; margin: 14% 3rem;}
    .puzzle {width: 35%; height: 35vw;}
}
@media all and (max-width: 768px) {
    /*header*/
    .header {height: 6rem; padding: 0 2.4rem;}
    .header_logo {line-height: 6rem;}
    .hamburger {width: 5rem;}
    /*home*/
    .main { width: 100%;}
    .main_text_01 {font-size: 5rem; line-height: 6rem; flex-flow: row wrap;}
    .nametext {width: 25rem;}
    /*main_intro*/
    .sticky {position: absolute; height: 200vh;}
    .main_intro_bg { position: sticky; top: 0; width: 100%; height: 100vh; right: 10%;}
    .main_intro_text {
        position: sticky;
        top: 100vh;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-gap: 3.5rem;
    }
    .intro_title { margin-bottom: 2.8rem;}
    /*contents all*/
    .content_text_box {
        padding: 0 1.6rem;
    }
    .content_text_light {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .content_text_title {
        font-size: 1.6rem;
        line-height: 2rem;}
    /*row 1------*/
    .content_row_1, .content_row_2, .content_row_3, .content_row_4, .content_row_5 {
        grid-template-columns: repeat(4, 1fr) repeat(10, 0);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 2px;
    }
        .content_image_01 {
        grid-column: 1/span 3;
        grid-row: 1/span 1;
        }
        .content_row_1 > .con_grid:nth-child(1) {
            grid-column: 4/span 1;
            grid-row: 1/span 1;
        }
        .content_row_1 > .con_grid:nth-child(4) {
            grid-column: 1/ span 1;
            grid-row: 2/span 1;
        }
        .content_title_01 {
            grid-column: 2/ span 3;
            grid-row: 2/ span 1;
        }
        .content_row_1 > .con_grid:nth-child(5) {
            display: none;
        }
    /*row 2-------------*/
        .content_image_02 {
            grid-column: 1/span 3;
            grid-row: 1/span 1;
        }
        .content_row_2 > .con_grid:nth-child(1) {
            grid-column: 4/span 1;
            grid-row: 1/span 1;
        }
        .content_row_2 > .con_grid:nth-child(4) {
            grid-column: 1/ span 1;
            grid-row: 2/span 1;
        }
        .content_title_02 {
            grid-column: 2/ span 3;
            grid-row: 2/ span 1;
        }
        .content_row_2 > .con_grid:nth-child(5) {
            display: none;
        }
    /*row 3-------------*/
        .content_image_03 {
            grid-column: 1/span 3;
            grid-row: 1/span 1;
        }
        .content_row_3 > .con_grid:nth-child(1) {
            grid-column: 4/span 1;
            grid-row: 1/span 1;
        }
        .content_row_3 > .con_grid:nth-child(4) {
            grid-column: 1/ span 1;
            grid-row: 2/span 1;
        }
        .content_title_03 {
            grid-column: 2/ span 3;
            grid-row: 2/ span 1;
        }
    /*row 4--------------*/
        .content_image_04 {
            grid-column: 1/span 3;
            grid-row: 1/span 1;
        }
        .content_row_4 > .con_grid:nth-child(1) {
            grid-column: 4/span 1;
            grid-row: 1/span 1;
        }
        .content_row_4 > .con_grid:nth-child(4) {
            grid-column: 1/ span 1;
            grid-row: 2/span 1;
        }
        .content_title_04 {
            grid-column: 2/ span 3;
            grid-row: 2/ span 1;
        }
    /*row 5---------------*/
        .content_image_05 {
            grid-column: 1/span 3;
            grid-row: 1/span 1;
        }
        .content_row_5 > .con_grid:nth-child(1) {
            grid-column: 4/span 1;
            grid-row: 1/span 1;
        }
        .content_row_5 > .con_grid:nth-child(4) {
            display: block;
            grid-column: 1/ span 1;
            grid-row: 2/span 1;
        }
        .content_title_05 {
            grid-column: 2/ span 3;
            grid-row: 2/ span 1;
        }

    /*footer*/
    .footer_blank {
        height: auto;
    }
    .footer_mid {flex-flow: column wrap; align-items: center;}
        .puzzle {width: calc(100% - 2rem); height: auto;}
    .footer_text {font-size: 2.4rem; margin: 2rem auto;}
        .send_mail {
            justify-content: center;
        }
    .footer_contact {width: auto; flex-flow: column wrap; justify-content: center;}
    .font_18 { font-size: 1.6rem; line-height: 2.8rem;}
    .font_18:nth-child(1) {margin-bottom: 2rem;}
}