:root {
/* colors */
    --color-ivory: #F2F2EC;
    --color-white: #fff;
    --color-black: #100F0F;
    --color-grey: #767676;
/* app colors*/
    --color-primary: var(--color-white);
    --color-primary-varient: var(--color-ivory);
    --font-default: var(--color-black);
    --font-gray: var(--color-grey);

/*font-weight*/
    --font-300: 300;
    --font-400: 400;
    --font-500: 500;
    --font-700: 700;
/*font 종류별*/
    --font-light: var(--font-300);
    --font-regular: var(--font-400);
    --font-bold: var(--font-700);
}
@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2.5%;
    cursor: default;
}