.container {
    position: relative;
    clear: both;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom, #fff 97%, #242427 100%);
}
img {
    width: 100%;
    position: relative;
    clear: both;
}